<h2>Registro</h2>
<form action="/api/sessions" method="POST">
    <label for="first_name">Nombre: </label>
    <input type="text" name="first_name" required>
    <br><br>
    <label for="last_name">Apellido: </label>
    <input type="text" name="last_name" required>
    <br><br>
    <label for="email">Email: </label>
    <input type="email"  name="email" required>
    <br><br>
    <label for="password"> Password: </label>
    <input type="password" name="password" required>
    <br><br>
    <label for="age">Edad: </label>
    <input type="number" name="age" required>
    <br><br>
    <button type="submit"> Registrar </button>
</form>